In [1]:
########################################################################################
#                                                                                      #
#                                                                                      #
#       Extracción + transformación + creacción de tablas (datamart)                   #
#                                                                                      #
#                                                                                      #
########################################################################################

###############
#   General   #
###############


#############################
#   Estructura del código   #  
#############################

# 0. Establecimiento de la configuración general del espacio de trabajo.
#
# 1. Importación de los archivos y otros referentes a los ingresos.
#
# 2. Ciertas modificaciones previar generales.
#
# 3. Unión + Transformación de ingresos mensuales + anuales
#
# 4. Creación de las principales tablas.
#
# 5. Exportación de los tablas con información.

In [2]:
#####
# 0 #  
##################################################################################################
##################################################################################################
#                         Establecimiento de la  configuración general                           #
##################################################################################################
##################################################################################################


################
#  Librerías   #
################

import numpy as np
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.1f' % x)

################
#  Directorio  #
################ 

import os
cwd = os.getcwd()
cwd
# Print the current working directory
print("Current working directory: {0}".format(cwd))


path = 'C:\\Users\\oscar\\Desktop\\GitHub\\Python\\Projetcs\\P3\\Data-Manipulation-with-Python\\Income\\data'
# Change the current working directory
os.chdir(path)
# Let's check the new directory 
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: c:\Users\oscar\Desktop\GitHub\Python\Projetcs\P3\Data-Manipulation-with-Python\Income
Current working directory: C:\Users\oscar\Desktop\GitHub\Python\Projetcs\P3\Data-Manipulation-with-Python\Income\data

In [3]:
#####################################################
#####################################################
#         Parámetros: datos + dashboard             #
#####################################################
#####################################################

#############
#  Millones #
#############

Millones = 1000000
# print(Millones)

################################
#  Delimitación años análisis  #
################################

Anos_analisis = 2007
# print(Anos_analisis)

####################
#  Años referencia #
####################

import datetime
today = datetime.date.today()
Año = today.year



#Ano_pasado_1  <- 2020  
#Ano_pasado_2  <- 2019

# Ano_actual    <- as.numeric(substr(Sys.Date(),1,4))
# Ano_pasado_1  <- as.numeric(substr(Sys.Date(),1,4))-1  
# Ano_pasado_2  <- as.numeric(substr(Sys.Date(),1,4))-2

####################
#  Mes referencia  #
####################

# Mes_actual <- substr(Sys.Date(),6,7)

####################
#  Mes referencia  #
####################

# Mes_actual <- substr(Sys.Date(),6,7)

In [4]:
#####
# 1 #  
##################################################################################################
##################################################################################################
##################################################################################################
#                              Importación de los ingresos                                       #
##################################################################################################
##################################################################################################
##################################################################################################

#############################
#   Ingresos  2007 - 2020   #
#############################

ingresos_2007_2021 = pd.read_excel(r'SIGAF_2007_2021.xlsx') 
# print(ingresos_2007_2021.shape)
# print(ingresos_2007_2021.columns)

In [5]:
###############################
#   Ingresos  SIGAF  actual   #
###############################

# Este si se debe llamar siempre "SIGAF_Ingresos_actual."

SIGAF_Ingresos_actual = pd.read_excel(r'SIGAF_Ingresos_actual.xlsx') 
# print(SIGAF_Ingresos_actual.shape)
# print(SIGAF_Ingresos_actual.columns)

In [6]:
###############################
#         Tabla del PIB       #
###############################

PIB =  pd.read_excel(r'PIB.xlsx') 
# print(PIB.shape)
# print(PIB.columns)

In [7]:
###############################################
#   Presupuesto inicial   #
###############################################

PPI = pd.read_excel('PPI.xlsx', converters={
                                            'Año':str,
                                            'Clase':str,
                                            'Subclase':str,
                                            'Grupo':str,
                                            'Subgrupo':str,
                                            'Partida':str,
                                            'Subpartida':str,
                                            'Renglón':str,
                                            'Subrenglón':str,
                                            'Fuente finaciamiento':str,
                                            'Descripción':str,
                                            'Presupuesto inicial': float
                                            }
                    ) 
# print(PPI.shape)
# print(PPI.columns)

In [8]:
#####
# 2 #  
##################################################################################################
##################################################################################################
##################################################################################################
#        Cambio en el ingreso total  PosPre - I   +   PospresAnual en el Presu. Inicial          #
##################################################################################################
##################################################################################################
##################################################################################################

#  Creación de la variable I0000000000

#SIGAF_Ingresos_actual.head(10)

SIGAF_Ingresos_actual['PosPre'] = SIGAF_Ingresos_actual['PosPre'].replace(['I'],'I0000000000000')

# SIGAF_Ingresos_actual.head(10)

In [9]:
PPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2146 entries, 0 to 2145
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Año                   2146 non-null   object
 1   Clase                 2146 non-null   object
 2   Subclase              2146 non-null   object
 3   Grupo                 2146 non-null   object
 4   Subgrupo              2146 non-null   object
 5   Partida               2146 non-null   object
 6   Subpartida            2146 non-null   object
 7   Renglón               2146 non-null   object
 8   Subrenglón            2146 non-null   object
 9   Fuente finaciamiento  2146 non-null   object
 10  Descripción           2146 non-null   object
 11  Presupuesto inicial   2146 non-null   float64
dtypes: float64(1), object(11)
memory usage: 201.3+ KB

In [10]:
PPI['Pospreanual'] = PPI[['Año','Clase','Subclase','Grupo','Subgrupo','Partida','Subpartida','Renglón','Subrenglón','Fuente finaciamiento']].agg(''.join, axis=1)
PPI_a = PPI.loc [:, ['Pospreanual','Presupuesto inicial']]
PPI_a

            Pospreanual  Presupuesto inicial
0     20140000000000000      6651446000000.0
1     20141000000000000      3810013000000.0
2     20141100000000000      3542803000000.0
3     20141110000000000      1084600000000.0
4     20141111000000000       367400000000.0
...                 ...                  ...
2141  20213311010000911           74999683.0
2142  20213320000000000          828274863.1
2143  20213321010000923          374609939.3
2144  20213321010000940           96000000.0
2145  20213321010000951          357664923.8

[2146 rows x 2 columns]

In [11]:
##################################################################################################
##################################################################################################
##################################################################################################
#                                  Ingresos  Mensuales                                           #
##################################################################################################
##################################################################################################
##################################################################################################

#############################
#############################
#   Ingresos  2007-2020     #
#############################
#############################

# Eliminar para el archivo mensual ciertas variables + cambiar nombre #

ingresos_2007_2021_m = ingresos_2007_2021.drop(columns=['Dif Pto Estimado – Ac Real',
                                                        'Ingreso acumulado real',
                                                        'Pendiente-Excedente',
                                                        'Devengado Acumulado'
                                                        ])

# ingresos_2007_2021_m.info()

In [12]:
ingresos_2007_2021_m = ingresos_2007_2021_m.rename(
                                    columns={'Desc.Pos.presupuestaria': 'Descripción',
                                             'Presupuesto Actual': 'Presupuesto actual'}
                                    )
# ingresos_2007_2021_m.head(5)
ingresos_2007_2021_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3795 entries, 0 to 3794
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  3795 non-null   int64
 1   Nivel                3795 non-null   int64
 2   PosPre               3795 non-null   object
 3   Descripción          3795 non-null   object
 4   Presupuesto actual   3795 non-null   float64
 5   Devengado Enero      3795 non-null   float64
 6   Devengado Febrero    3795 non-null   float64
 7   Devengado Marzo      3795 non-null   float64
 8   Devengado Abril      3792 non-null   float64
 9   Devengado Mayo       3795 non-null   float64
 10  Devengado Junio      3795 non-null   float64
 11  Devengado Julio      3795 non-null   float64
 12  Devengado Agosto     3795 non-null   float64
 13  Devengado Setiembre  3795 non-null   float64
 14  Devengado Octubre    3795 non-null   float64
 15  Devengado Noviembre  3795 non-null   float64
 16  Devengado Diciembre  3795 non-null   float64
dtypes: float64(13), int64(2), object(2)
memory usage: 504.1+ KB

In [13]:
#import pandas as pd
#ingresos_2007_2021_m_test = pd.melt(ingresos_2007_2021_m, 
#                                    id_vars=[('Año', 'Nivel','PosPre','Descripción','Presupuesto actual')],
#                                    value_vars=['Devengado Enero', 'Devengado Febrero', 'Devengado Marzo', 'Devengado Abril', 'Devengado Mayo','Devengado Junio', 'Devengado Julio', 'Devengado Agosto', 'Devengado Setiembre', 'Devengado Octubre', 'Devengado Noviembre', 'Devengado Diciembre'],
#                                    var_name='mes',
#                                    value_name='Ingresos'
#                                    )


# df = pd.melt(df, id_vars='team', value_vars=['points', 'assists', 'rebounds'],
#             var_name='metric', value_name='amount')
#  pd.melt(df, id_vars='col1', value_vars=['col2', 'col3', ...])
#  pd.melt(df, id_vars=[('A', 'D')], value_vars=[('B', 'E')])

In [14]:
ingresos_2007_2021_m = ingresos_2007_2021_m.melt(id_vars=["Año", "Nivel", "PosPre","Descripción","Presupuesto actual"],
                                                      value_vars=['Devengado Enero', 'Devengado Febrero', 'Devengado Marzo', 'Devengado Abril', 'Devengado Mayo','Devengado Junio', 'Devengado Julio', 'Devengado Agosto', 'Devengado Setiembre', 'Devengado Octubre','Devengado Noviembre','Devengado Diciembre'],
                                                      var_name='mes',
                                                      value_name='Ingresos'
 )

In [15]:
print(ingresos_2007_2021_m.shape)
print(ingresos_2007_2021_m.info())

(45540, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45540 entries, 0 to 45539
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Año                 45540 non-null  int64
 1   Nivel               45540 non-null  int64
 2   PosPre              45540 non-null  object
 3   Descripción         45540 non-null  object
 4   Presupuesto actual  45540 non-null  float64
 5   mes                 45540 non-null  object
 6   Ingresos            45537 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 2.4+ MB
None

In [16]:
ingresos_2007_2021_m = ingresos_2007_2021_m.replace({'mes' : 
                                        { "Devengado Enero"     : "Enero",
                                        "Devengado Febrero"   : "Febrero",
                                        "Devengado Marzo"     : "Marzo",
                                        "Devengado Abril"     : "Abril",
                                        "Devengado Mayo"      : "Mayo",
                                        "Devengado Junio"     : "Junio",
                                        "Devengado Julio"     : "Julio",
                                        "Devengado Agosto"    : "Agosto",
                                        "Devengado Setiembre" : "Septiembre",
                                        "Devengado Octubre"   : "Octubre",
                                        "Devengado Noviembre" : "Noviembre",
                                        "Devengado Diciembre" : "Diciembre"
                                       }
                                        })

In [17]:
# Crear la variable mes.cod

# crear el diccionario

event_dictionary ={'Enero' : '01', 
                   'Febrero' : '02', 
                   'Marzo' : '03',
                   'Abril' : '04', 
                   'Mayo' : '05', 
                   'Junio' : '06',
                   'Julio' : '07', 
                   'Agosto' : '08', 
                   'Septiembre' : '09',
                   'Octubre' : '10', 
                   'Noviembre' : '11', 
                   'Diciembre' : '12'
                   }

ingresos_2007_2021_m['mes.cod'] = ingresos_2007_2021_m['mes'].map(event_dictionary)

# ingresos_2007_2021_m.head(10)

In [18]:
ingresos_2007_2021_m = ingresos_2007_2021_m.sort_values(by=['Año', 'PosPre', 'mes.cod', 'mes'], 
                                                         ascending=[True, True,True,True])

# ingresos_2007_2021_m.head(24)

In [19]:
ingresos_2007_2021_m = ingresos_2007_2021_m.reindex(columns=['Año', 'Nivel', 'PosPre', 'Descripción', 'Presupuesto actual', 'mes.cod', 'mes', 'Ingresos'])
ingresos_2007_2021_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45540 entries, 0 to 45539
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Año                 45540 non-null  int64
 1   Nivel               45540 non-null  int64
 2   PosPre              45540 non-null  object
 3   Descripción         45540 non-null  object
 4   Presupuesto actual  45540 non-null  float64
 5   mes.cod             45540 non-null  object
 6   mes                 45540 non-null  object
 7   Ingresos            45537 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 3.1+ MB

In [20]:
################################
################################
#   Ingresos  Sigaf Actual     #
################################ 
################################

# Eliminar para el archivo mensual ciertas variables + cambiar nombre #

SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual.drop(columns=['Dif Pto Estimado – Ac Real',
                                                        'Ingreso acumulado real',
                                                        'Pendiente-Excedente',
                                                        'Devengado Acumulado'
                                                        ])

In [21]:
SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual_m.rename(
                                    columns={'Desc.Pos.presupuestaria': 'Descripción',
                                             'Presupuesto Actual': 'Presupuesto actual'}
                                    )
# ingresos_2007_2021_m.head(5)
SIGAF_Ingresos_actual_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nivel                462 non-null    int64
 1   PosPre               462 non-null    object
 2   Descripción          462 non-null    object
 3   Presupuesto actual   462 non-null    float64
 4   Devengado Enero      462 non-null    float64
 5   Devengado Febrero    462 non-null    float64
 6   Devengado Marzo      462 non-null    float64
 7   Devengado Abril      462 non-null    float64
 8   Devengado Mayo       462 non-null    float64
 9   Devengado Junio      462 non-null    float64
 10  Devengado Julio      462 non-null    float64
 11  Devengado Agosto     462 non-null    float64
 12  Devengado Setiembre  462 non-null    float64
 13  Devengado Octubre    462 non-null    float64
dtypes: float64(11), int64(1), object(2)
memory usage: 50.7+ KB

In [22]:
# Año = today.year

SIGAF_Ingresos_actual_m['Año'] = Año

In [23]:
# SIGAF_Ingresos_actual_m.head(20)

In [24]:
SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual_m.melt( id_vars=["Año", "Nivel", "PosPre","Descripción","Presupuesto actual"],
                                                                           # value_vars=['Devengado Enero', 'Devengado Febrero', 'Devengado Marzo', 'Devengado Abril', 'Devengado Mayo','Devengado Junio', 'Devengado Julio', 'Devengado Agosto', 'Devengado Setiembre', 'Devengado Octubre','Devengado Noviembre','Devengado Diciembre'],
                                                                            var_name='mes',
                                                                            value_name='Ingresos'
)

# SIGAF_Ingresos_actual_m.head(5)

In [25]:
# print(SIGAF_Ingresos_actual_m.shape)
# print(SIGAF_Ingresos_actual_m.info())

In [26]:
SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual_m.replace({'mes' : 
                                                                { "Devengado Enero"     : "Enero",
                                                                    "Devengado Febrero"   : "Febrero",
                                                                    "Devengado Marzo"     : "Marzo",
                                                                    "Devengado Abril"     : "Abril",
                                                                    "Devengado Mayo"      : "Mayo",
                                                                    "Devengado Junio"     : "Junio",
                                                                    "Devengado Julio"     : "Julio",
                                                                    "Devengado Agosto"    : "Agosto",
                                                                    "Devengado Setiembre" : "Septiembre",
                                                                    "Devengado Octubre"   : "Octubre",
                                                                    "Devengado Noviembre" : "Noviembre",
                                                                    "Devengado Diciembre" : "Diciembre"
                                       }
                                        })

# SIGAF_Ingresos_actual_m.head(10)

In [27]:
# Crear la variable mes.cod

# crear el diccionario

# event_dictionary ={'Enero' : '01', 
#                   'Febrero' : '02', 
#                   'Marzo' : '03',
#                   'Abril' : '04', 
#                   'Mayo' : '05', 
#                   'Junio' : '06',
#                   'Julio' : '07', 
#                   'Agosto' : '08', 
#                   'Septiembre' : '09',
#                   'Octubre' : '10', 
#                  'Noviembre' : '11', 
#                   'Diciembre' : '12'
#                   }

SIGAF_Ingresos_actual_m['mes.cod'] = SIGAF_Ingresos_actual_m['mes'].map(event_dictionary)

#SIGAF_Ingresos_actual_m.head(10)

In [28]:
#SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual_m.sort_values(by=['PosPre', 'mes.cod', 'mes'], 
#                                                              ascending=[True, True,True,True])

SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual_m.sort_values(by=['PosPre', 'mes.cod', 'mes'],  
                                    ascending=[True,True,True])

# SIGAF_Ingresos_actual_m.head(24)
# SIGAF_Ingresos_actual_m.shape

In [29]:
SIGAF_Ingresos_actual_m = SIGAF_Ingresos_actual_m.reindex(columns=['Año', 'Nivel', 'PosPre', 'Descripción', 'Presupuesto actual', 'mes.cod', 'mes', 'Ingresos'])
print(SIGAF_Ingresos_actual_m.info())
print(SIGAF_Ingresos_actual_m.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4620 entries, 0 to 4619
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Año                 4620 non-null   int64
 1   Nivel               4620 non-null   int64
 2   PosPre              4620 non-null   object
 3   Descripción         4620 non-null   object
 4   Presupuesto actual  4620 non-null   float64
 5   mes.cod             4620 non-null   object
 6   mes                 4620 non-null   object
 7   Ingresos            4620 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 324.8+ KB
None
(4620, 8)

In [30]:
###################################
###################################
#   Ingresos totales mensuales    #
###################################
###################################

Ingresos_m = pd.concat([ingresos_2007_2021_m, SIGAF_Ingresos_actual_m], axis=0)
print(Ingresos_m.shape)
print(Ingresos_m.info())

(50160, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50160 entries, 0 to 4619
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Año                 50160 non-null  int64
 1   Nivel               50160 non-null  int64
 2   PosPre              50160 non-null  object
 3   Descripción         50160 non-null  object
 4   Presupuesto actual  50160 non-null  float64
 5   mes.cod             50160 non-null  object
 6   mes                 50160 non-null  object
 7   Ingresos            50157 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 3.4+ MB
None

In [31]:
#############################
#      Transformación       # 
#############################

# Declaración de variables #

# Crear la variable mes.cod

# crear el diccionario

event_dictionary_n_Nivel ={  1 : 'Clase', 
                            2 : 'Subclase', 
                            3 : 'Grupo',
                            4 : 'Subgrupo', 
                            5 : 'Partida', 
                            6 : 'Subpartida',
                            7 : 'Renglón', 
                            8 : 'Subrenglón'
                   }

Ingresos_m['n_Nivel'] = Ingresos_m['Nivel'].map(event_dictionary_n_Nivel)

# Ingresos_m.tail(8)

In [32]:
Ingresos_m.head(10)
Ingresos_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50160 entries, 0 to 4619
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Año                 50160 non-null  int64
 1   Nivel               50160 non-null  int64
 2   PosPre              50160 non-null  object
 3   Descripción         50160 non-null  object
 4   Presupuesto actual  50160 non-null  float64
 5   mes.cod             50160 non-null  object
 6   mes                 50160 non-null  object
 7   Ingresos            50157 non-null  float64
 8   n_Nivel             49982 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 3.8+ MB

In [33]:
Ingresos_m['cod_clase']      = Ingresos_m['PosPre'].str.slice(1,2)
Ingresos_m['cod_subclase']   = Ingresos_m['PosPre'].str.slice(1,3)
Ingresos_m['cod_grupo']      = Ingresos_m['PosPre'].str.slice(1,4)
Ingresos_m['cod_subgrupo']   = Ingresos_m['PosPre'].str.slice(1,5)
Ingresos_m['cod_partida']    = Ingresos_m['PosPre'].str.slice(1,7)
Ingresos_m['cod_subpartida'] = Ingresos_m['PosPre'].str.slice(1,9)
Ingresos_m['cod_renglon']    = Ingresos_m['PosPre'].str.slice(1,10)
Ingresos_m['cod_subrenglon']    = Ingresos_m['PosPre'].str.slice(1,11)
Ingresos_m['cod_fuentefinanciacion']    = Ingresos_m['PosPre'].str.slice(1,14)
Ingresos_m['cod_fuentefinanciacion_3']    = Ingresos_m['PosPre'].str.slice(11,14).apply(pd.to_numeric)


Ingresos_m.tail(10)

,Año,Nivel,PosPre,Descripción,Presupuesto actual,mes.cod,mes,Ingresos,n_Nivel,cod_clase,cod_subclase,cod_grupo,cod_subgrupo,cod_partida,cod_subpartida,cod_renglon,cod_subrenglon,cod_fuentefinanciacion,cod_fuentefinanciacion_3
461,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,01,Enero,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
923,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,02,Febrero,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
1385,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,03,Marzo,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
1847,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,04,Abril,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
2309,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,05,Mayo,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
2771,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,06,Junio,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
3233,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,07,Julio,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
3695,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,08,Agosto,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
4157,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,09,Septiembre,99430707.3,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960
4619,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,10,Octubre,0.0,Subgrupo,3,33,332,3321,332101,33210100,332101000,3321010000,3321010000960,960

In [34]:
# Crear la clase
# crear el diccionario

event_dictionary_3 = {'0' : 'Total', 
                     '1' : 'Ingresos corrientes', 
                     '2' : 'Ingresos de capital',
                     '3' : 'Financiamiento'
                   }

Ingresos_m['clase'] = Ingresos_m['cod_clase'].map(event_dictionary_3)

event_dictionary_4 = {'11' : 'Total', 
                     '12' : 'Ingresos corrientes',
                     '00' : 'Total'
                   }

Ingresos_m['subclase'] = Ingresos_m['cod_subclase'].map(event_dictionary_3)


event_dictionary_5 = {'111' : 'Impuestos a los ingresos y utilidades', 
                     '112' : 'Impuestos sobre la propiedad',
                     '000' : 'Total'
                   }

Ingresos_m['grupo'] = Ingresos_m['cod_grupo'].map(event_dictionary_3)

event_dictionary_6 = {'1111' : 'Impuestos sobre los ingresos y utilidades de personas físicas', 
                      '1112' : 'Impuestos sobre los ingresos y utilidades de personas jurídicas',
                      '0000' : 'Total'
                   }

Ingresos_m['subgrupo'] = Ingresos_m['cod_subgrupo'].map(event_dictionary_3)

Ingresos_m.head(10)

,Año,Nivel,PosPre,Descripción,Presupuesto actual,mes.cod,mes,Ingresos,n_Nivel,cod_clase,...,cod_partida,cod_subpartida,cod_renglon,cod_subrenglon,cod_fuentefinanciacion,cod_fuentefinanciacion_3,clase,subclase,grupo,subgrupo
0,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,01,Enero,173183646369.0,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
3795,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,02,Febrero,166188486454.4,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
7590,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,03,Marzo,324791941831.9,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
11385,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,04,Abril,180612510798.4,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
15180,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,05,Mayo,165896012467.6,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
18975,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,06,Junio,165017141190.8,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
22770,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,07,Julio,228554614950.7,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
26565,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,08,Agosto,213815242604.5,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
30360,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,09,Septiembre,256094162326.8,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN
34155,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,10,Octubre,256171332340.8,NaN,0,...,000000,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN

In [35]:
Ingresos_m = Ingresos_m.reindex(columns=['Año', 'Nivel', 'n_Nivel' ,'PosPre', 'cod_sector','Presupuesto actual', 'mes.cod','mes','cod_clase','clase','cod_subclase','subclase','cod_grupo','grupo','cod_subgrupo','subgrupo',
         'cod_partida','cod_subpartida','cod_renglon','cod_subrenglon', 'cod_fuentefinanciacion','cod_fuentefinanciacion_3','Descripción','Ingresos'])

Ingresos_m.columns
print(Ingresos_m.shape)

Ingresos_m.head(10)

(50160, 24)

,Año,Nivel,n_Nivel,PosPre,cod_sector,Presupuesto actual,mes.cod,mes,cod_clase,clase,...,cod_subgrupo,subgrupo,cod_partida,cod_subpartida,cod_renglon,cod_subrenglon,cod_fuentefinanciacion,cod_fuentefinanciacion_3,Descripción,Ingresos
0,2007,0,NaN,I0000000000000,NaN,2953611470129.7,01,Enero,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,173183646369.0
3795,2007,0,NaN,I0000000000000,NaN,2953611470129.7,02,Febrero,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,166188486454.4
7590,2007,0,NaN,I0000000000000,NaN,2953611470129.7,03,Marzo,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,324791941831.9
11385,2007,0,NaN,I0000000000000,NaN,2953611470129.7,04,Abril,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,180612510798.4
15180,2007,0,NaN,I0000000000000,NaN,2953611470129.7,05,Mayo,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,165896012467.6
18975,2007,0,NaN,I0000000000000,NaN,2953611470129.7,06,Junio,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,165017141190.8
22770,2007,0,NaN,I0000000000000,NaN,2953611470129.7,07,Julio,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,228554614950.7
26565,2007,0,NaN,I0000000000000,NaN,2953611470129.7,08,Agosto,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,213815242604.5
30360,2007,0,NaN,I0000000000000,NaN,2953611470129.7,09,Septiembre,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,256094162326.8
34155,2007,0,NaN,I0000000000000,NaN,2953611470129.7,10,Octubre,0,Total,...,0000,NaN,000000,00000000,000000000,0000000000,0000000000000,0,INGRESOS TOTAL,256171332340.8

In [36]:
##################################################################################################
##################################################################################################
##################################################################################################
#                                  Ingresos  Anuales                                             #
##################################################################################################
##################################################################################################
##################################################################################################

#############################
#   Ingresos  20167-2020     #
#############################

ingresos_2007_2021_a = ingresos_2007_2021 
# ingresos_2007_2021_a.info()

In [37]:
# Año = today.year

SIGAF_Ingresos_actual_a = SIGAF_Ingresos_actual
SIGAF_Ingresos_actual_a['Año'] = Año
# SIGAF_Ingresos_actual_a.info()

In [38]:
# ingresos_2007_2021_a.columns = SIGAF_Ingresos_actual_a.columns


# Ingresos_a = pd.merge(ingresos_2007_2021_a, SIGAF_Ingresos_actual_a, on='name')

Ingresos_a = pd.concat([ingresos_2007_2021_a, SIGAF_Ingresos_actual_a], axis=0, ignore_index=True )

convert_dict_2 = {'Año': str
                }

Ingresos_a = Ingresos_a.astype(convert_dict_2)

print(Ingresos_a.shape)
Ingresos_a
# Ingresos_a.tail(15)

(4257, 21)

,Año,Nivel,PosPre,Desc.Pos.presupuestaria,Presupuesto Actual,Devengado Enero,Devengado Febrero,Devengado Marzo,Devengado Abril,Devengado Mayo,...,Devengado Julio,Devengado Agosto,Devengado Setiembre,Devengado Octubre,Devengado Noviembre,Devengado Diciembre,Devengado Acumulado,Dif Pto Estimado – Ac Real,Ingreso acumulado real,Pendiente-Excedente
0,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,173183646369.0,166188486454.4,324791941831.9,180612510798.4,165896012467.6,...,228554614950.7,213815242604.5,256094162326.8,256171332340.8,252985957067.5,347411770866.5,2730722819268.9,222888650860.8,92.5,7.5
1,2007,1,I1000000000000,INGRESOS CORRIENTESI,1869707499062.1,172029276262.4,134458786659.7,189188472641.8,158535729835.5,152767529299.6,...,179013953883.8,149486783809.3,154571908309.5,192718654536.5,167797464512.7,291286037320.8,2104451052531.2,-234743553469.1,112.6,-12.6
2,2007,2,I1100000000000,INGRESOS TRIBUTARIOS,1802746862763.0,166413106592.5,130637062419.2,185830187991.3,154728905374.4,141432413704.6,...,173097204368.0,142732287856.0,149542574754.2,187977973128.6,162792407735.7,283988423604.6,2028941824871.5,-226194962108.5,112.5,-12.6
3,2007,3,I1110000000000,IMP. S/ ING Y UTIL,437000000000.0,33714166084.3,21571801082.1,72392056721.3,42521382501.4,18361843790.2,...,49239135914.9,16501978460.9,29659932851.4,62144120488.2,23627620876.7,114933728244.9,531551766603.9,-94551766603.9,121.6,-21.6
4,2007,4,I1111000000000,IMP. ING Y UTI PER F,111000000000.0,15517617248.3,973447360.9,9665974155.6,4159684518.1,9358841486.0,...,1051165033.1,17863259569.8,8098490728.5,9112845411.3,1086614742.3,40819856399.1,123194061450.7,-12194061450.7,111.0,-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4252,2022,4,I3321010000952,Superávit Específico Sistema Nacional de Áreas...,6211398090.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6211398090.3,0.0,NaN,NaN,6211398090.3,0.0,100.0,0.0
4253,2022,4,I3321010000953,Superávit Específico Patronato de Construccion...,4217954601.2,0.0,0.0,0.0,4217954601.2,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,4217954601.2,0.0,100.0,0.0
4254,2022,4,I3321010000958,Superávit Específico Comisión Nacional de Vacu...,500290578.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,500290578.0,0.0,NaN,NaN,500290578.0,0.0,100.0,0.0
4255,2022,4,I3321010000959,Superávit Específico Fondo de Desarrollo Socia...,7490422463.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7490422463.7,0.0,NaN,NaN,7490422463.7,0.0,100.0,0.0
4256,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,99430707.3,0.0,NaN,NaN,99430707.3,0.0,100.0,0.0

In [39]:
###########################################################
#       Transformación de datos                           #
###########################################################

event_dictionary_n_Nivel ={  1 : 'Clase', 
                            2 : 'Subclase', 
                            3 : 'Grupo',
                            4 : 'Subgrupo', 
                            5 : 'Partida', 
                            6 : 'Subpartida',
                            7 : 'Renglón', 
                            8 : 'Subrenglón'
                   }

Ingresos_a['n_Nivel'] = Ingresos_a['Nivel'].map(event_dictionary_n_Nivel)

In [40]:
Ingresos_a['Pospre']         = Ingresos_a['PosPre'].str.slice(1,14)
Ingresos_a['Pospreanual']    = Ingresos_a[['Año','Pospre']].agg(''.join, axis=1)
Ingresos_a['cod_clase']      = Ingresos_a['PosPre'].str.slice(1,2)
Ingresos_a['cod_subclase']   = Ingresos_a['PosPre'].str.slice(1,3)
Ingresos_a['cod_grupo']      = Ingresos_a['PosPre'].str.slice(1,4)
Ingresos_a['cod_subgrupo']   = Ingresos_a['PosPre'].str.slice(1,5)
Ingresos_a['cod_partida']    = Ingresos_a['PosPre'].str.slice(1,7)
Ingresos_a['cod_subpartida'] = Ingresos_a['PosPre'].str.slice(1,9)
Ingresos_a['cod_renglon']    = Ingresos_a['PosPre'].str.slice(1,10)
Ingresos_a['cod_subrenglon']    = Ingresos_a['PosPre'].str.slice(1,11)
Ingresos_a['cod_fuentefinanciacion']    = Ingresos_a['PosPre'].str.slice(1,14)
Ingresos_a['cod_fuentefinanciacion_3']    = Ingresos_a['PosPre'].str.slice(11,14).apply(pd.to_numeric)


# Ingresos_a.tail(10)
# Ingresos_a.info()

In [41]:
# Crear la clase
# crear el diccionario

event_dictionary_3 = {'0' : 'Total', 
                     '1' : 'Ingresos corrientes', 
                     '2' : 'Ingresos de capital',
                     '3' : 'Financiamiento'
                   }

Ingresos_a['clase'] = Ingresos_a['cod_clase'].map(event_dictionary_3)

event_dictionary_4 = {'11' : 'Total', 
                     '12' : 'Ingresos corrientes',
                     '00' : 'Total'
                   }

Ingresos_a['subclase'] = Ingresos_a['cod_subclase'].map(event_dictionary_3)


event_dictionary_5 = {'111' : 'Impuestos a los ingresos y utilidades', 
                     '112' : 'Impuestos sobre la propiedad',
                     '000' : 'Total'
                   }

Ingresos_a['grupo'] = Ingresos_a['cod_grupo'].map(event_dictionary_3)

event_dictionary_6 = {'1111' : 'Impuestos sobre los ingresos y utilidades de personas físicas', 
                      '1112' : 'Impuestos sobre los ingresos y utilidades de personas jurídicas',
                      '0000' : 'Total'
                   }

Ingresos_a['subgrupo'] = Ingresos_a['cod_subgrupo'].map(event_dictionary_3)

# Ingresos_a.head(10)
# Ingresos_a.info()
Ingresos_a.shape

(4257, 38)

In [42]:
# Ingresos_a.columns

In [43]:
Presu_ajusta_condi = [
    
    (Ingresos_a['cod_fuentefinanciacion_3'] <= 452),
     (Ingresos_a['cod_fuentefinanciacion_3'] >= 890),
     (Ingresos_a['cod_fuentefinanciacion_3'] >= 453) |  (Ingresos_a['cod_fuentefinanciacion_3'] <= 694)
    ]

choices = [Ingresos_a['Presupuesto Actual'],Ingresos_a['Presupuesto Actual'],Ingresos_a['Devengado Acumulado']]

Ingresos_a['Presupuesto ajustado'] = np.select(Presu_ajusta_condi,choices, default=0)

Ingresos_a.head(10)

,Año,Nivel,PosPre,Desc.Pos.presupuestaria,Presupuesto Actual,Devengado Enero,Devengado Febrero,Devengado Marzo,Devengado Abril,Devengado Mayo,...,cod_subpartida,cod_renglon,cod_subrenglon,cod_fuentefinanciacion,cod_fuentefinanciacion_3,clase,subclase,grupo,subgrupo,Presupuesto ajustado
0,2007,0,I0000000000000,INGRESOS TOTAL,2953611470129.7,173183646369.0,166188486454.4,324791941831.9,180612510798.4,165896012467.6,...,00000000,000000000,0000000000,0000000000000,0,Total,NaN,NaN,NaN,2953611470129.7
1,2007,1,I1000000000000,INGRESOS CORRIENTESI,1869707499062.1,172029276262.4,134458786659.7,189188472641.8,158535729835.5,152767529299.6,...,10000000,100000000,1000000000,1000000000000,0,Ingresos corrientes,NaN,NaN,NaN,1869707499062.1
2,2007,2,I1100000000000,INGRESOS TRIBUTARIOS,1802746862763.0,166413106592.5,130637062419.2,185830187991.3,154728905374.4,141432413704.6,...,11000000,110000000,1100000000,1100000000000,0,Ingresos corrientes,NaN,NaN,NaN,1802746862763.0
3,2007,3,I1110000000000,IMP. S/ ING Y UTIL,437000000000.0,33714166084.3,21571801082.1,72392056721.3,42521382501.4,18361843790.2,...,11100000,111000000,1110000000,1110000000000,0,Ingresos corrientes,NaN,NaN,NaN,437000000000.0
4,2007,4,I1111000000000,IMP. ING Y UTI PER F,111000000000.0,15517617248.3,973447360.9,9665974155.6,4159684518.1,9358841486.0,...,11110000,111100000,1111000000,1111000000000,0,Ingresos corrientes,NaN,NaN,NaN,111000000000.0
5,2007,5,I1111010000000,I S/SAL JUB PEN O SP,59000000000.0,6596149988.8,973447360.9,3228097756.4,3920917810.6,3820586971.0,...,11110100,111101000,1111010000,1111010000000,0,Ingresos corrientes,NaN,NaN,NaN,59000000000.0
6,2007,7,I1111010101001,I S/SAL JUB PEN O SP / IMPUESTO SOBRE LA RENTA...,0.0,6596149988.8,973447360.9,3228097756.4,3920917810.6,3820586971.0,...,11110101,111101010,1111010101,1111010101001,1,Ingresos corrientes,NaN,NaN,NaN,0.0
7,2007,5,I1111020000000,I SAL JUB PEN O S Pr,42000000000.0,6349533772.9,0.0,6147030203.9,0.0,4425156823.1,...,11110200,111102000,1111020000,1111020000000,0,Ingresos corrientes,NaN,NaN,NaN,42000000000.0
8,2007,7,I1111020101001,IMPUESTO SOBRE BIENES Y SERVICIOS PERSONAS FIS...,0.0,6349533772.9,0.0,6147030203.9,0.0,4425156823.1,...,11110201,111102010,1111020101,1111020101001,1,Ingresos corrientes,NaN,NaN,NaN,0.0
9,2007,5,I1111030000000,IMP. ING Y UTI PER F,10000000000.0,2571933486.6,0.0,290846195.3,238766707.5,1113097691.8,...,11110300,111103000,1111030000,1111030000000,0,Ingresos corrientes,NaN,NaN,NaN,10000000000.0

In [44]:
# Using DataFrame.assign() method.
# Using DataFrame.assign() method.
def Presu_ajus_espe (Ingresos_a):
    if Ingresos_a["cod_fuentefinanciacion_3"] == 518 | Ingresos_a["cod_fuentefinanciacion_3"] == 519 | Ingresos_a["cod_fuentefinanciacion_3"] == 661 | Ingresos_a["cod_fuentefinanciacion_3"] == 662 | Ingresos_a["cod_fuentefinanciacion_3"] == 663:
        return Ingresos_a['Presupuesto Actual']
 #   elif row["Amount"] == 2000:
 #       return 1500
 #   elif row["Amount"] == 3000:
 #       return 1500
    else:
        return Ingresos_a['Presupuesto ajustado']
    
Ingresos_a['Presupuesto ajustado especial'] = Ingresos_a.apply(Presu_ajus_espe, axis = 1)

# Ingresos_a.head(10)

In [45]:
# Ingresos_a.info()

Ingresos_a = Ingresos_a.rename(
                                    columns={'Desc.Pos.presupuestaria': 'Descripción',
                                             'Presupuesto Actual'     : 'Presupuesto actual',
                                             'Devengado Enero'        : 'Enero',
                                             'Devengado Febrero'      : 'Febrero',
                                             'Devengado Marzo'        : 'Marzo',
                                             'Devengado Abril'        : 'Abril',
                                             'Devengado Mayo'         : 'Mayo',
                                             'Devengado Junio'        : 'Junio',
                                             'Devengado Julio'        : 'Julio',
                                             'Devengado Agosto'       : 'Agosto',
                                             'Devengado Setiembre'    : 'Setiembre',
                                             'Devengado Octubre'      : 'Octubre',
                                             'Devengado Noviembre'    : 'Noviembre',
                                             'Devengado Diciembre'    : 'Diciembre',
                                             'Devengado Acumulado'    : 'Acumulado'
                                             }
                                    )
# Ingresos_a.columns
# Ingresos_a.info()
# Ingresos_a.shape

In [46]:
# Ingresos_a.join(PPI_a, lsuffix="_l", rsuffix="_r", on='Pospreanual' , how = "left").shape

# data_2 = workday.join(employee, lsuffix="_l", rsuffix="_r", on='employee_id' , how = "left")
# data_2.shape

In [47]:
Ingresos_a =  pd.merge(Ingresos_a, PPI_a, how='left', on='Pospreanual')
# database.head(40)
# Ingresos_a.shape

Ingresos_a.shape

(4257, 41)

In [48]:
Ingresos_a.tail(15)

,Año,Nivel,PosPre,Descripción,Presupuesto actual,Enero,Febrero,Marzo,Abril,Mayo,...,cod_subrenglon,cod_fuentefinanciacion,cod_fuentefinanciacion_3,clase,subclase,grupo,subgrupo,Presupuesto ajustado,Presupuesto ajustado especial,Presupuesto inicial
4242,2022,3,I3320000000000,SUPERÁVIT ESPECÍFICO,23458505198.1,0.0,0.0,0.0,6552034941.0,0.0,...,3320000000,3320000000000,0,Financiamiento,NaN,NaN,NaN,23458505198.1,23458505198.1,NaN
4243,2022,4,I3321010000923,Superávit Específico de la donación de la Unió...,374609939.3,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000923,923,Financiamiento,NaN,NaN,NaN,374609939.3,374609939.3,NaN
4244,2022,4,I3321010000940,Superávit Específico Comisión Nacional para la...,96000000.0,0.0,0.0,0.0,3855288.8,0.0,...,3321010000,3321010000940,940,Financiamiento,NaN,NaN,NaN,96000000.0,96000000.0,NaN
4245,2022,4,I3321010000942,Superávit Específico Instituto Costarricense s...,1001762390.0,0.0,0.0,0.0,1001762390.0,0.0,...,3321010000,3321010000942,942,Financiamiento,NaN,NaN,NaN,1001762390.0,1001762390.0,NaN
4246,2022,4,I3321010000945,Superávit Específico Consejo de Transporte Púb...,1328462661.0,0.0,0.0,0.0,1328462661.0,0.0,...,3321010000,3321010000945,945,Financiamiento,NaN,NaN,NaN,1328462661.0,1328462661.0,NaN
4247,2022,4,I3321010000947,Superávit Específico Instituto sobre Alcoholis...,109810050.9,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000947,947,Financiamiento,NaN,NaN,NaN,109810050.9,109810050.9,NaN
4248,2022,4,I3321010000948,Superávit Específico Instituto sobre Alcoholis...,1279672757.3,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000948,948,Financiamiento,NaN,NaN,NaN,1279672757.3,1279672757.3,NaN
4249,2022,4,I3321010000949,Superávit Específico Instituto sobre Alcoholis...,253776580.6,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000949,949,Financiamiento,NaN,NaN,NaN,253776580.6,253776580.6,NaN
4250,2022,4,I3321010000950,Superávit Especifico IAFA Ley 9036,137249454.6,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000950,950,Financiamiento,NaN,NaN,NaN,137249454.6,137249454.6,NaN
4251,2022,4,I3321010000951,Superávit Específico Teatro Nacional (TN),357664923.8,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000951,951,Financiamiento,NaN,NaN,NaN,357664923.8,357664923.8,NaN
4252,2022,4,I3321010000952,Superávit Específico Sistema Nacional de Áreas...,6211398090.3,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000952,952,Financiamiento,NaN,NaN,NaN,6211398090.3,6211398090.3,NaN
4253,2022,4,I3321010000953,Superávit Específico Patronato de Construccion...,4217954601.2,0.0,0.0,0.0,4217954601.2,0.0,...,3321010000,3321010000953,953,Financiamiento,NaN,NaN,NaN,4217954601.2,4217954601.2,NaN
4254,2022,4,I3321010000958,Superávit Específico Comisión Nacional de Vacu...,500290578.0,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000958,958,Financiamiento,NaN,NaN,NaN,500290578.0,500290578.0,NaN
4255,2022,4,I3321010000959,Superávit Específico Fondo de Desarrollo Socia...,7490422463.7,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000959,959,Financiamiento,NaN,NaN,NaN,7490422463.7,7490422463.7,NaN
4256,2022,4,I3321010000960,Superávit Específico Instituto Costarricense d...,99430707.3,0.0,0.0,0.0,0.0,0.0,...,3321010000,3321010000960,960,Financiamiento,NaN,NaN,NaN,99430707.3,99430707.3,NaN

In [51]:
Ingresos_a['Pospreanual']=Ingresos_a['Pospreanual'].astype(str)
PPI_a['Pospreanual']=PPI_a['Pospreanual'].astype(str)

In [53]:
Ingresos_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4257 entries, 0 to 4256
Data columns (total 41 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Año                            4257 non-null   object
 1   Nivel                          4257 non-null   int64
 2   PosPre                         4257 non-null   object
 3   Descripción                    4257 non-null   object
 4   Presupuesto actual             4257 non-null   float64
 5   Enero                          4257 non-null   float64
 6   Febrero                        4257 non-null   float64
 7   Marzo                          4257 non-null   float64
 8   Abril                          4254 non-null   float64
 9   Mayo                           4257 non-null   float64
 10  Junio                          4257 non-null   float64
 11  Julio                          4257 non-null   float64
 12  Agosto                         4257 non-null   float64
 13  Setiembre                      4257 non-null   float64
 14  Octubre                        4257 non-null   float64
 15  Noviembre                      3795 non-null   float64
 16  Diciembre                      3795 non-null   float64
 17  Acumulado                      4257 non-null   float64
 18  Dif Pto Estimado – Ac Real     4257 non-null   float64
 19  Ingreso acumulado real         4257 non-null   float64
 20  Pendiente-Excedente            4257 non-null   float64
 21  n_Nivel                        4242 non-null   object
 22  Pospre                         4257 non-null   object
 23  Pospreanual                    4257 non-null   object
 24  cod_clase                      4257 non-null   object
 25  cod_subclase                   4257 non-null   object
 26  cod_grupo                      4257 non-null   object
 27  cod_subgrupo                   4257 non-null   object
 28  cod_partida                    4257 non-null   object
 29  cod_subpartida                 4257 non-null   object
 30  cod_renglon                    4257 non-null   object
 31  cod_subrenglon                 4257 non-null   object
 32  cod_fuentefinanciacion         4257 non-null   object
 33  cod_fuentefinanciacion_3       4257 non-null   int64
 34  clase                          4257 non-null   object
 35  subclase                       0 non-null      object
 36  grupo                          0 non-null      object
 37  subgrupo                       0 non-null      object
 38  Presupuesto ajustado           4257 non-null   float64
 39  Presupuesto ajustado especial  4257 non-null   float64
 40  Presupuesto inicial            1658 non-null   float64
dtypes: float64(20), int64(2), object(19)
memory usage: 1.4+ MB

In [54]:
PPI_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2146 entries, 0 to 2145
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pospreanual          2146 non-null   object
 1   Presupuesto inicial  2146 non-null   float64
dtypes: float64(1), object(1)
memory usage: 33.7+ KB

In [55]:
Ingresos_a.columns

Index(['Año', 'Nivel', 'PosPre', 'Descripción', 'Presupuesto actual', 'Enero',
       'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto',
       'Setiembre', 'Octubre', 'Noviembre', 'Diciembre', 'Acumulado',
       'Dif Pto Estimado – Ac Real', 'Ingreso acumulado real',
       'Pendiente-Excedente', 'n_Nivel', 'Pospre', 'Pospreanual', 'cod_clase',
       'cod_subclase', 'cod_grupo', 'cod_subgrupo', 'cod_partida',
       'cod_subpartida', 'cod_renglon', 'cod_subrenglon',
       'cod_fuentefinanciacion', 'cod_fuentefinanciacion_3', 'clase',
       'subclase', 'grupo', 'subgrupo', 'Presupuesto ajustado',
       'Presupuesto ajustado especial', 'Presupuesto inicial'],
      dtype='object')

In [52]:
data1 = Ingresos_a.join(PPI_a, lsuffix="_l", rsuffix="_r", on='Pospreanual' , how = "left")

data1.shape

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat